<!DOCTYPE html>
<html>
<head>
	<title>Organ chain</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<style>


		body{
			padding: 20px;
			border: 1px solid wheat;
			background: url(https://source.unsplash.com/bqGBbLq_yfc/1600x900);
			background-size: cover;
			background-position: center;
			background-attachment: fixed;
			color: ivory;
			margin-bottom: 20px;
		}
		
		.heading {
			font-family: fantasy;
			border: 16px solid #4e4e4e;
			padding: 20px;
			color: rgb(255, 255, 255);
			text-align: center;
			padding: 40px;
			background: rgba(3, 12, 12, 0.9);
			height: 30vh;
			width: 100%;
			margin-bottom: 50px;
		}

		.links {
			color: white;
			text-decoration: none;
			border: 1px solid whitesmoke;
			margin: 5px;
			padding: 5px;	
		}

		.links:hover {
			color:white;
			text-decoration: none;
		}

		.container {

			border: 1px solid black;
			margin: 5px;
			padding: 15px;
		}

		.chain {
			background: rgba(19, 2, 2, 0.8);
			border: 1px solid rgb(152, 9, 9);
			padding: 15px;
			width: 50vw;
		}
		
		.pending-chain {
			background:rgba(1, 18, 21, 0.8);
			border: 1px solid rgb(0, 255, 217);
			padding: 15px;
			width: 50vw;
			float: right;
			width: 50vw;
		}
		.button {
			background: rgba(0,0,0,0.6);
			border: 2px solid white;
			color: white;
			margin-top: 15px;
			padding: 5px 20px;
		}

		.bottom {
			text-align: center;
			
			color: aliceblue;
			font-size: 20px;
		}

		.form {
			margin-top: 240px;
			text-align: center;
			color: rgb(53, 37, 37);
			border: 0.5px solid black;
			border-radius: 5px;
			padding: 40px;
			background: rgba(0,0,0,0.8);
		}
		.patient1 {
			margin-left: 80px;
		}
		.patient2{
			margin-left: 160px;
		}

		.white{
			color:white;
			font-family: monospace;
		}

		.font-family {
			font-family: monospace;
		}

		.col{
			display: flex;
			flex-direction: column;
		}

		.row{
			display: flex;
			width: 99%;
		}
	</style>
</head>
<body>
	<span class="logo">
		<a href="/" class="links">Organchain</a>
	</span>

	