<% include ./partials/header %>
<div class="form">
        <h3 class="white">
               ENTER THE NODE URL
        </h3>
            <form action="/register-and-broadcast-node" method="post">
            
                <input type="text" name="newNodeUrl"><br>
            
                <button class="button">
                    Submit
                </button>
            </form>
</div>


<% include ./partials/footer %> 