<% include ./partials/header %>
<div class="form">
        <h3 class="white">
               ENTER THE PATIENT ID
        </h3>
            <form action="/add-new-patient" method="post">
            
                <input type="text" name="id"><br>
            
                <button class="button">
                    Submit
                </button>
            </form>
</div>


<% include ./partials/footer %> 