<% include ./partials/header %>
 

<div class="form">
    <h3 class="white">
           REMOVE THE PATIENT WITH ID
    </h3>
    <form action="/remove-patient" method="post">

        <input type="text" name="id"><br>

        <button class="button">
            Submit
        </button>
        </form>
</div>

<% include ./partials/footer %> 